<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        <div class="copyright-text">
          <p>
            CopyRight © 2019 Great Software Laboratory. All rights reserved.
          </p>
        </div>
      </div>
      <!-- End Col -->
      <div class="col-sm-6">
        <ul class="social-link pull-right">
          <li>
            <a target="blank" href="https://www.linkedin.com/company/gs-lab"
              ><i class="fa fa-linkedin-square" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a target="blank" href="https://www.facebook.com/LifeAtGSLab"
              ><i class="fa fa-facebook-official" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              target="blank"
              href="https://www.youtube.com/channel/UCSCYXWzUa_DPDkrJmu7h42A"
              ><i class="fa fa-youtube" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a target="blank" href="https://www.gslab.com/"
              ><i class="fa fa-globe" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              target="blank"
              href="https://www.google.com/maps/place/GS+Lab/@18.556657,73.794013,15z/data=!4m5!3m4!1s0x0:0xa392ead710923035!8m2!3d18.556657!4d73.794013"
              ><i class="fa fa-map-marker" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
      <!-- End Col -->
    </div>
  </div>
</div>
