img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.add_Container {
  margin-bottom: 50px;
}
.wrapper {
  text-align: center;
}
#parent_status_div {
  float: left;
}
.status_div {
  float: left;
  margin-right: 5px;
}
