<app-header></app-header>
<div class="container">
  <section id="section-customers">
    <h2 class="display-4 text-center font-italic">Customer Details</h2>
    <hr />
    <div class="row">
      <div class="col-md-5 customer_list">
        <app-customers-list></app-customers-list>
      </div>
      <div class="col-md-7"><router-outlet></router-outlet></div>
    </div>
  </section>
  <section id="section-addNew">
    <h2 class="display-4 text-center font-italic">Add New Customer</h2>
    <hr />
    <app-customer-new></app-customer-new>
  </section>
</div>
<app-footer></app-footer>
