<nav class="navbar bg-primary navbar-dark navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#"
    ><i class="fa fa-camera-retro" aria-hidden="true"></i> GS-Customer's</a
  >
  <button
    type="button"
    class="navbar-toggler navbar-toggler-right"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" id="navScrollspy">
      <li class="nav-item">
        <a class="nav-link text-white" href="#section-home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#section-customers">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#section-addNew">Add_New_Customer</a>
      </li>
    </ul>
  </div>
</nav>
<section
  id="section-home"
  class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center text-white"
>
  <div class="container text-center">
    <h1 class="display-1 text-uppercase text-primary">GS-Lab</h1>
    <p class="display-4 d-none d-sm-block">A Band of Innovators…</p>
    <p class="lead">
      We solve our client’s complex business problems, by delivering seamless
      customer experience, actionable insights and business definiteness - using
      a "lab to complete solutions" approach.
    </p>
    <p><strong>Connect with us:</strong></p>
    <a
      href="https://www.linkedin.com/company/gs-lab"
      class="btn btn-lg btn-primary"
      target="blank"
      >Linked <i class="fa fa-linkedin" aria-hidden="true"></i></a
    >&nbsp;
    <a
      href="https://www.facebook.com/LifeAtGSLab"
      class="btn btn-lg btn-primary"
      target="blank"
    >
      <i class="fa fa-facebook" aria-hidden="true"></i>acebook</a
    >&nbsp;
    <a
      href="https://www.youtube.com/channel/UCSCYXWzUa_DPDkrJmu7h42A"
      class="btn btn-lg btn-primary"
      target="blank"
    >
      <i class="fa fa-youtube" aria-hidden="true"></i>Youtube</a
    >
  </div>
</section>
